<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/71daa0a4-fb64-49e2-9c90-e83a88cb1907/resourceGroups/tweetappaccountResourceGroup/providers/Microsoft.Web/sites/tweetappaccount3</ResourceId>
    <ResourceGroup>tweetappaccountResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/71daa0a4-fb64-49e2-9c90-e83a88cb1907/resourceGroups/tweetappaccountResourceGroup/providers/Microsoft.ApiManagement/service/tweetappresourcegroup/apis/twweetapp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tweetappaccount3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7262c4e4-4324-4543-b377-65f79fa3545f</ProjectGuid>
    <MSDeployServiceURL>tweetappaccount3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tweetappaccount3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tweetappaccount3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>